{% load results %}
        <div class="panel panel-default">
        {% if test_result.summary %}
          <div class="panel-heading small-panel-heading cursor-pointer" role="tab" data-toggle="collapse" href="#collapse-{{ revision.version }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ revision.version}}-{{ forloop.counter }}" id="heading-{{ forloop.counter }}">
            <span class="show-triangle">&#9660;</span><span style="display:none;" class="hide-triangle">&#9650;</span>
        {% else %}
          <div class="panel-heading small-panel-heading" role="tab" id="heading-{{ forloop.counter }}">
        {% endif %}
            <span>{{ test_result.test.name }}</span>
            <span class="label result-{{ test_result.get_state_display }}">
              {{ test_result.get_state_display }}
            </span>
            {% if test_result.url %}
            <span>
              <a href="{{ test_result.url }}" onclick="(function(e){ e.stopPropagation(); })(event)">(See full logs)</a>
            </span>
            {% endif %}
            <span class="pull-right">Updated {{ test_result.date }}</span>
          </div>
          {% if test_result.summary %}
          <div id="collapse-{{ revision.version }}-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ forloop.counter}}">
              {% if test_result.test.is_markdown %}
                <div class="panel-body test-result">
                {{ test_result.summary|render_markdown }}
                </div>
              {% else %}
                <pre class="panel-body test-result">{{ test_result.summary }}</pre>
              {% endif %}
          </div>
          {% endif %}
        </div>

        <script type="text/javascript">
          $('.panel-default').on('show.bs.collapse', function () {
            console.log($(this).find('.hide-triangle'));
            $(this).find('.hide-triangle').show();
            $(this).find('.show-triangle').hide();
          });

          $('.panel-default').on('hide.bs.collapse', function () {
            $(this).find('.hide-triangle').hide();
            $(this).find('.show-triangle').show();
          });
        </script>
